[submodule "DSMgine/vendor/glfw"]
	path = DSMgine/vendor/glfw
	url = https://github.com/CMDR-JohnAlex/glfw.git
	branch = 3.3-stable
[submodule "DSMgine/vendor/ImGui"]
	path = DSMgine/vendor/ImGui
	url = https://github.com/CMDR-JohnAlex/ImGui.git
	branch = docking
[submodule "DSMgine/vendor/SimpleLogger3.0"]
	path = DSMgine/vendor/SimpleLogger3.0
	url = https://github.com/CMDR-JohnAlex/SimpleLogger3.0.git
	branch = dev
